# package directories
node_modules
jspm_packages

# Task build directory
build/
.task/

# Serverless directories
.serverless

# Jest coverage
/coverage

tmp/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
